/* Here is your custom css styles. */

div#mobile-nav {
  height: 1000px;
}

.toc-widget {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
}


.circle {
  border-radius: 0%;
}

header .side-nav .mobile-head .logo-name {
  margin-top: -17px;
  padding-left: 10px;
  font-size: 1.5rem;
}

.logo-name {
  font-family: 'Comic Sans MS',Consolas,Monaco,  Courier, monospace;
}

.logo-desc {
  font-family: 'Comic Sans MS',Consolas,Monaco,  Courier, monospace;
}

.top-scroll .btn-floating{
  background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.col.s12.m8.l8.copy-right {
  width: 100%;
}


code {
  padding: 1px 5px;
  top: 13px !important;
  font-family: Monaco, Consolas,Inconsolata, 'Courier New', Courier, monospace !important;
  font-size: 1.1rem;
  color: #e95d00 !important;
  background-color: #f8f8f8;
  border-radius: 2px;
}

/* 目录*/
.toc-widget.card.toc-fixed {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
}

h1.friend-name {
  font-size: 1.5rem;
}

#articleContent p {
    margin: 2px 2px 10px;
    font-size: 1.12rem;
    line-height: 1.95rem;
}
.bg-color{
  background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

span.logo-span {
  font-family: 'Comic Sans MS' ,Consolas, Consolas;
}
.bg-cover .title {
  font-size: 4rem;
  line-height: 1.2em;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Comic Sans MS', Consolas;
}

.btn-floating{
  border-radius:25%;
}
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 50px;
  line-height: 47px;
}

#articleContent ol li {
    display: list-item;
    line-height: 1.95rem;
    font-size: 1.2rem;
    margin: 2px 2px 10px;
}
#articleContent ul li{
  display: list-item;
  line-height: 1.95rem;
  font-size: 1.2rem;
  margin: 2px 2px 10px;
}
/* 4~6级标题前置设置 */

#toc-content .toc-link:hover {
  color: #395ca3 !important;
  font-weight: 700;
  text-decoration: none !important;
}

#toc-content .is-active-link {
  color: #395ca3 !important;
}

h1 {
    font-size: 1.625em;
  }
  
h2 {
  font-size: 1.525em;
  color: #333399;
}
h3.post-title {
  color: white;
}
h3 {
  font-size: 1.425em;
  color: #395ca3;
  line-height: 1.7;
}

.posts-expand h4 {
font-size: 1.325em;
}

h5 {
font-size: 1.225em;
}

h6 {
font-size: 1.125em;
}

p {
line-height: 185%;
}

.waves-effect {
    border-radius: 15px;
}

u:hover {
    background-color: #fff;
    color: #555 !important;
    text-decoration: none;
  }
/* 字体设置 */
.post-body {
    font-family: 'Source Han Sans SC', Helvetica;
  }
/* 鼠标放在链接上的样式 */
a:hover { /* 鼠标放在链接上的样式 */
    color: #395ca3;
  }

/* 字体设置 */
.post-body {
    font-family: 'Source Han Sans SC', Helvetica;
  }

/* 修改选择字体块背景颜色 */
::selection { /* 修改选择字体块背景颜色 */
    background: #395ca3;
    color: #395ca3;
}

u {
    color: #395ca3 !important;
    background: #395ca3;
    border-radius: 3px;
}
a:hover { /* 鼠标放在链接上的样式 */
  color: #395ca3;
}

#toc-content .toc-link:hover {
  color: #395ca3;
  font-weight: 700;
  text-decoration: auto;
}

article a:hover {
  font-weight: bold;
  color: #395ca3;
  text-decoration: underline;
}


#artDetail .tag_share .article-tag .chip {
  font-size: 1rem;
  font-weight: 400;
  height: 25px;
  line-height: 23px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 2px;
  color: #395ca3;
  background: #fff;
  border: 1px solid;
  transition: all 0.6s ease-in-out;
}

#artDetail .tag_share .article-tag .chip:hover {
  color: #fff;
  background: #395ca3;
}

#artDetail .post-cate {
  float: right;
  color: #395ca3;
}

#artDetail .post-cate a {
  padding-right: 5px;
  color: #395ca3;
  font-weight: 500;
}

#articleContent a {
  padding: 0 2px;
  color: #395ca3;
  font-weight: 500;
  text-decoration: underline;
  word-wrap: break-word;
}

#toc-content .is-active-link {
  color: #395ca3;
}

